<h1>My Meal</h1>

<div>
	<% @line_items.each do |line_item| %>
	<ul>
		<li><%= line_item.recipe.name %></li>
		<li>Prep Time:<%= line_item.recipe.prepTime %></li>
		<li>Cook Time:<%= line_item.recipe.cookTime %></li>
		<li>Total Time:<%= line_item.total_time %></li>
	</ul>
	<% end %>
</div>

<div>
	<%= link_to "Start cooking?", checkout_path, class:"btn btn-success" %>
</div>