
<p id="notice"><%= notice %></p>
 <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-left: 50px;
    }
  </style>


<center><h1><strong>Our Recipes</strong></h1></center>
<br>
<div class="row">
<div class='row'>
<% @recipes.each do |recipe| %>
<!--  <div class="col-sm-2col-md-2"> -->
   <!-- <div class="thumbnail"> -->
    <div class='col-md-4'>
     <div class="caption">
       <h3><%= link_to recipe.name, recipe, class: "btn btn-default" %></h3>


<!-- GIT HUB CONFLICT 
<h1>Listing Recipes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Category</th>
      <th>Ingredients</th>
      <th>Preptime</th>
      <th>Cooktime</th>
      <th>Cookware</th>
      <th>Image</th>
      <th>Instructions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.cuisine %></td>
        <td><%= recipe.category %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.prepTime %></td>
        <td><%= recipe.cookTime %></td>
        <td><%= recipe.cookware %></td>
        <td><%= recipe.image %></td>
        <td><%= recipe.instructions %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
>>>>>>> 1b620cf94168132c441cddd028336980fff5d63b
 -->
     <img src="<%= recipe.image %>" style= 'height:220px; width:300px'>
     </div>
     </div>
 <% end %>
</div>
<br>
<!-- <t -->
 <!--  <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary" %> -->

 <!--  <tbody>
    #<% @recipes.each do |recipe| %>
      <!- <tr> -->
        <!-- <td><%= recipe.name %></td> -->
        <!-- <td><%= recipe.cuisine %></td> -->
        <!-- <td><%= recipe.category %></td> -->
        <!-- <td><%= recipe.ingredients %></td> -->
        <!-- <td><%= recipe.prepTime %></td> -->
        <!-- <td><%= recipe.cookTime %></td> -->
        <!-- <td><%= recipe.cookware %></td> -->
        <!-- <td><%= recipe.image %></td> -->
        <!-- <td><%= recipe.instructions %></td>  -->
        <!-- <td><%= link_to 'Show', recipe %></td> -->
        <!-- <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td> -->
        <!-- <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->


     
      <!-- </tr> -->
    <!-- <% end %> -->
  <!-- </tbody> -->
<!-- </table> -->

<!-- <br> --> 

