
<p id="notice"><%= notice %></p>
 <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-left: 50px;
    }
  </style>

<h1><strong>Our Recipes</strong></h1>
<div class="row">
<div class='row'>
<% @recipes.each do |recipe| %>
<!--  <div class="col-sm-2col-md-2"> -->
   <!-- <div class="thumbnail"> -->
    <div class='col-md-4'>
     <div class="caption">
       <h3><%= link_to recipe.name, recipe, class: "btn btn-default" %></h3>

     <img src="<%= recipe.image %>" style= 'height:220px; width:300px'>
     </div>
     </div>
 <% end %>
</div>
<br>
<!-- <t -->
 <!--  <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary" %> -->

 <!--  <tbody>
    #<% @recipes.each do |recipe| %>
      <!- <tr> -->
        <!-- <td><%= recipe.name %></td> -->
        <!-- <td><%= recipe.cuisine %></td> -->
        <!-- <td><%= recipe.category %></td> -->
        <!-- <td><%= recipe.ingredients %></td> -->
        <!-- <td><%= recipe.prepTime %></td> -->
        <!-- <td><%= recipe.cookTime %></td> -->
        <!-- <td><%= recipe.cookware %></td> -->
        <!-- <td><%= recipe.image %></td> -->
        <!-- <td><%= recipe.instructions %></td>  -->
        <!-- <td><%= link_to 'Show', recipe %></td> -->
        <!-- <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td> -->
        <!-- <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->


     
      <!-- </tr> -->
    <!-- <% end %> -->
  <!-- </tbody> -->
<!-- </table> -->

<!-- <br> --> 

