<div class="jumbotron">
 <center>
<style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 25px; padding-left: 25px; padding-right: 25px
    }
  </style>
   <h1><strong><%= @recipe.name %></strong></h1>
   <div class="resize">
   <img src="<%= @recipe.image %>" style= 'height:420px; width:500px'>
   </div>
 </center>
 <h3><strong>Name:</strong> <%= @recipe.name %></h3>
 <h3><strong>Cuisine:</strong> <%= @recipe.cuisine %></h3>
 <h3><strong>Category:</strong> <%= @recipe.category %></h3>
 <h3><strong>Ingredients:</strong> <%= @recipe.ingredients %></h3>
 <h3><strong>Preptime:</strong> <%= @recipe.prepTime %></h3>
 <h3><strong>Cooktime:</strong> <%= @recipe.cookTime %></h3>
 <h3><strong>Cookware:</strong> <%= @recipe.cookware %></h3>
 <!-- <h3>Image: <%= @recipe.image %></h3> -->
 <h3><strong>Instructions:</strong> <%= @recipe.instructions %></h3>

  <p>
    <%= form_tag('/add_to_cart') do %>
    <div class="cant-see-me">
    <%= number_field_tag :recipe_id, @recipe.id %>
    </div>
      <%= submit_tag "Add to Meal!", class: "btn btn-danger" %>
      <% end %>    
  </p>


</div>
<%= link_to 'Back to Recipes', recipes_url , class: "btn btn-primary" %>

 


<!-- <p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @recipe.cuisine %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Preptime:</strong>
  <%= @recipe.prepTime %>
</p>

<p>
  <strong>Cooktime:</strong>
  <%= @recipe.cookTime %>
</p>

<p>
  <strong>Cookware:</strong>
  <%= @recipe.cookware %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.image %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
 -->